<dom-module id="song-fields">
  <style>
    :host > div {
      border-bottom:1px solid #aaaaaa;
      background: #dddddd;
    }
    .field {
      border-right:1px solid #aaaaaa;
      padding-left: 5px;
      overflow: hidden;
      max-width: 120px;
      min-width: 120px;
      white-space: nowrap;
    }
  </style>
  <template>
    <div class="flex row expand">
      <div class="field flex row start">Title</div>
      <div class="field flex row start">Artist</div>
      <div class="field flex row start">Album</div>
      <div class="field flex row start">Duration</div>
      <div class="field flex row start">Size</div>
    </div>
  </template>
  <script>
    Polymer({
      is:'song-fields'
    })
  </script>
</dom-module>
