<link rel="import" href="song-list-item.html">

<dom-module id="song-list">
  <template>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
    <song-list-item></song-list-item>
  </template>
  <script>
    Polymer({
      is:'song-list'
    })
  </script>
</dom-module>
