<link rel="import" href="playbar/track-title.html">
<link rel="import" href="playbar/track-controls.html">
<link rel="import" href="playbar/track-progress.html">
<link rel="import" href="playbar/play-controls.html">

<dom-module id="play-bar">
  <style>
    :host {
      min-height: 80px;
      background-color: #333333;
      color: #ffffff;
    }
    @media (max-width: 700px) {
      .bottom-play {
        flex-flow: column wrap;
      }
    }
  </style>
  <template>
    <track-title class="flex center" track="{{track}}"></track-title>
    <div class="bottom-play flex around">
      <track-controls class="flex row shrink center"></track-controls>
      <track-progress class="flex row expand center"></track-progress>
      <play-controls class="flex row shrink center"></play-controls>
    </div>
  </template>
  <script>
    Polymer({
      is:'play-bar',
      properties:{
        track:Object
      }
    })
  </script>
</dom-module>
