<link rel="import" href="sidebar/side-item.html">

<dom-module id="side-bar">
  <style>
    :host {
      display: flex;
      min-width: 180px;
      overflow-y: auto;
      margin:0 10px 10px;
      border-right: 1px solid #eeeeee;
    }
    .title {
      font-size: 12px;
      color: #aaaaaa;
      margin-top: 10px;
    }
  </style>
  <template>
    <template is="dom-repeat" items="{{menu}}" as="submenu">
      <div class="title">{{submenu.title}}</div>
      <template is="dom-repeat" items="{{submenu.items}}">
        <side-item item="{{item}}">{{item.name}}</side-item>
      </template>
    </template>
  </template>
  <script>
    Polymer({
      is:'side-bar',
      properties:{
        menu:{
          type:Object
        }
      }
    })
  </script>
</dom-module>
