<link rel="import" href="topbar/menu-bar.html">
<link rel="import" href="topbar/title-bar.html">
<link rel="import" href="topbar/button-bar.html">

<dom-module id="top-bar">
  <style>
    :host {
      background-color: #333333;
      color: rgba(255,255,255,0.87);
      -webkit-user-select: none;
      padding: 5px;
      font-size: 15px;
      -webkit-app-region: drag;
    }
  </style>
  <template>
    <div class="flex row expand">
      <menu-bar class="flex shrink" menu="{{menu}}"></menu-bar>
      <title-bar class="flex column expand center" track="{{track}}"></title-bar>
      <button-bar class="flex shrink column center"></button-bar>
    </div>
  </template>
  <script>
    Polymer({
      is:'top-bar',
      properties:{
        menu:Object,
        track:{
          type:Object,
          notify:true
        }
      }
    })
  </script>
</dom-module>
