/* TODO: Make rather a nice scss mixin*/

.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
  align-items: stretch;
}

.flex.center {
  justify-content: center;
}

.flex.start {
  justify-content: flex-start;
}
.flex.end {
  justify-content: flex-end;
}

.flex.around {
  justify-content: space-around;
}
.flex.between {
  justify-content: space-between;
}

.flex.expand {
  flex:1 1 auto;
}
.flex.shrink {
  flex:0 0 auto;
}

.flex.wrap {
  flex-wrap: wrap;
}
.flex.nowrap {
  flex-wrap: nowrap;
}
