<dom-module id="side-item">
  <style>
    :host {
      line-height: 20px;
      font-size: 15px;
      padding-top:5px;
      padding-bottom: 5px;
      cursor: pointer;
    }
    :host:hover {
      font-size: 20px;
    }
    :host.bold {
      font-weight: bold;
      font-size: 25px;
    }
  </style>
  <template>
    <content></content>
  </template>
  <script>
    Polymer({
      is:'side-item',
      properties:{
        item:Object,
        bold:{
          computed:'isbold(item)'
        }
      },
      isbold:function(item) {
        this.classList.add(item.selected ? 'bold' : 'light')
        return item.selected
      }
    })
  </script>
</dom-module>
